*{
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
  }
  .nav-container{
    display: flex;
    background-color: rgb(58, 55, 55);
    justify-content: space-around;
  }
  .nav-name{
    font-size: 25px;
    margin: 10px;
    color: aliceblue;
  }
  .main-logo{
    display: flex;
    margin: 5px;
    padding: 7px;
    justify-content: center;
  }
  .logo-color{
    color: #E55473;
  }
  .nav-itam{
    color: aliceblue;
    font-size: 18px;
    display: flex;
    margin: 25px;
    gap: 30px;
    list-style: none;
  }
  .home{
    padding: 5px 15px;
    background-color:#E55473;
    border: none;
    border-radius: 5px;
  }
  .service{
    background-color:#E55473;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
  }
  .abut{
    background-color:#E55473;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
  }
  .contact{
    background-color:#E55473;
    padding: 5px 15px;
    border: none;
    border-radius: 5px;
  }
  .nav-itam{
    align-items: center;
  }
  /* <!-- Now started section 2nd part--> */

.about{
    display: flex;
    width: 800;
    height: 500px;
  }
  .about-left{
    margin: 150px 30px 0 150px;
    align-items: center;
    width: 50%;
    text-align: left;
  }
  .title{
    font-size: 40px;
    margin: 20px 0;
  }
  .about-paragraph{
    font-size: 16px;
    margin: 20px 0;
  }
  .about-righ{
    width: 335px;
    height: 200px;
  }
  .about-pic{
    width: 400px;
    height: 520px;
    flex-shrink: 0;
    margin: 35px 0 0 0;
  }
  .about-sign-up{
    padding: 10px 20px;
    background-color:#E55473;
    border: none;
    border-radius: 5px;
    align-items: center;
    font-weight: bolder;
    color: aliceblue;
  }
  
  
  /* 2nd section start */
  
  .section-2nd{
    margin-top: 220px;
  }
  .main{
    text-align: center;
    align-items: center;
    justify-content: space-between;
    gap: 70px;
  }
  .fower-list{
    display: flex;
    gap: 15px;
    justify-content: center; 
  }
  .fower{
    background-color: #A7216226;
    border-radius: 280px 280px 0 0;
    width: 300px;
    height: 360px;
  }
  .flower-2{
    background-color: #0597A026;
    border-radius: 280px 280px 0 0;
    width: 300px;
    height: 360px;
  }
  .flower-3{
    background-color: #477D1126;
    border-radius: 280px 280px 0 0;
    width: 300px;
    height: 360px;
  }
  .image{
    width: 250px;
    height: 315px;
    margin: 45px 0 0 25px;
  }
  .flower-title{
    margin-top: 25px;
    text-align: center;
  }
  .flower-name{
    text-align: center;
    align-items: center;
    margin-left: 200px;
  }
  .flower-title{
    display: flex;
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;  
    gap: 150px;
    margin-left: 280px;
    list-style: none;
  }
  .main-title{
    color: #272727;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 15px;
  }
  .main-paragarph{
    font-size: 20px;
  }

  

.section5-logo{
    align-items: center;
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    }
    .distance{
    display: flex;
    width: 88px;
    height: 88px;
    gap: 200px;
    margin: 130px 40px 0 350px;
    }
    .section3-bio{
    display: flex;
    list-style: none;
    gap: 70px;
    margin: 15px 10px 0 250px;
    }
    .resize{
    margin-left: 30px;
    }
    
    
    /* 3rd sectin start */
    
    
    .about-sale{
      display: flex;
      width: 800;
      height: 500px;
      margin: 150px;
    }
    .sale-left{
      margin: 150px 30px 0 150px;
      align-items: center;
      width: 50%;
      text-align: center;
    
    }
    .sale-title{
      font-size: 35px;
      margin: 15px 0;
    }
    .off{
      color: #E55473;
    }
    .sale-paragraph{
      font-size: 16px;
      margin: 20px 0;
      
    }
    .sale-right{
      width: 335px;
      height: 200px;
      align-items: center;
    }
    .sale-pic{
      width: 380px;
      height: 500px;
      flex-shrink: 0;
      text-align: 10px 0 0 25px;
    }
    .sale-sign{
      padding: 10px 20px;
      background-color:#E55473;
      border: none;
      border-radius: 5px;
      align-items: center;
      font-weight: bolder;
      color: aliceblue;
    }
    
    
    /* <!-- Now work 4rth section-->    */
    
    .section-4th{
      color: #272727;
      text-align: center;
      font-family: Lato;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
    }
    .section-box{
      display: flex;
    }
    .section4-paragarph{
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
    }
    .section-box{
      display: flex;
      gap: 15px;
      margin: 20px 0 0 145px;
    }
    .section4-image{
      display: flex;
      gap: 5px;
    }
    .section4-image1{
      width: 250px;
      height: 270px;
      margin-left: 15px;
    }
    .section4-image2{
      width: 250px;
      height: 270px;
      margin-left: 15px;
    }
    .section4-image3{
      width: 250px;
      height: 270px;
      margin-left: 15px;
    }
    .section4-image4{
      width: 250px;
      height: 270px;
      margin-left: 15px;
    }
    
    
    /* <!-- Now work 5th section-->    */
    
    .shoping-title{
      text-align: center;
      justify-content: space-around;
      width: 900px;
      height: 220px;
      margin: 80px 0 80px 260px;
      border-radius: 8px;
      background: url(icon/Rectangle\ 9.png), lightgray 0px -203.444px / 100% 213.755% no-repeat;
    
    }
    .shoping-headline{
      color: #272727;
      text-align: center;
      font-family: Lato;
      font-size: 40px;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      list-style: none;
      padding-top: 30px;
    }
    
    .shoping-details{
      color: rgba(12, 12, 12, 0.6);
      text-align: center;
      font-family: Lato;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 30px;
      list-style: none;
    }
    
    /* <!-- Now work footer section    --> */
    
    .footer{
      align-items: center;
      text-align: center;
      background-color: #111010;
      color: aliceblue;
      padding: 65px 0;
      list-style: none;
    }
    .shop{
      color: #E55473;
    }
    .shop-size{
      font-size: 40px;
      margin: 15px 0;
      list-style: none;
    }
    .shoping-btn{
      display: flex;
      color: rgba(39, 39, 39, 0.60);
      text-align: center;
      font-family: Lato;
      font-size: 16px;
      ont-style: normal;
      font-weight: 400;
      line-height: normal;
      list-style: none;
      padding: 30px;
      margin-left: 60px;
    }
    .fotter-border{
      width: 600px;
      height: 44px;
      flex-shrink: 0;
      border: none;
      border-radius: 8px;
      background: #FFF;
    }
    .footeer-sign{
      width: 120px;
      height: 44px;
      flex-shrink: 0;
      border-radius: 8px;
      background: #E55473;
      border: none;
      font-weight: bolder;
      font-size: 20px;
    }
    .works{
      display: flex;
      gap: 40px;
      margin: 150px 0 35px 60px;
      padding-left: 40px;
    }
    .works-design1{
    width: 88px;
    height: 88px;
    flex-shrink: 0;
    }
    
    
    